:root {
    --side-bg: #1e293b;
    --main-bg: #f8fafc;
    --text-dark: #0f172a;
    --accent: #0f766e;
    --card-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--main-bg);
    overflow: hidden; /* Evita scroll duplo com a main-content */
}

/* Layout SPA */
.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/* Conteúdo Principal */
.main-content {
    flex: 1;
    display: flex !important;
    flex-direction: column !important;
    padding-top: 63px;
}

@media (min-width: 768px) {
    .main-content {
        padding-left: 300px !important;
    }
}
